.skills{
    padding: 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 3rem;
}
.sk.title{
        display: flex;
        flex-direction: column;
        position: relative;
        flex: 1;
        top: 3rem;
}
.w-right{
    position: relative;
    flex: 1;
}

.mainCircle{
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white;
}
.mainCircle>*{
    position: absolute;
}

.mainCircle>:nth-child(1){
    top: -2rem;
    left: 6rem;
}
.mainCircle>:nth-child(2){
    top: 6rem;
    left: 14rem;
}
.mainCircle>:nth-child(3){
    top: 6rem;
    left: -2rem;
}
.mainCircle>:nth-child(4){
    top: 6.5rem;
    left: 6rem;
}
.mainCircle>:nth-child(5){
    top: 15rem;
    left: 6rem;
}
.secCircle{
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background:none; */
    box-shadow: var(--smboxShadow);
    background: white;
}
.secCircle>img{
    transform: scale(0.6);
}

.w-backCircle{
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}
.blueCircle{
    background: #1949BB;
    left:18rem;
    top:0rem
}
.yellowCircle{
    background: #F5C32C;
    left:18rem;
    top:8rem
}
@media(max-width:400px){
    .skills{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 90vh;
        margin-top: 0;
        /* margin-bottom: 2rem; */
    }
    .w-right{
        position: static;   
        transform: scale(0.7);
    }
    .mainCircle{
        /* transform: scale(0.4); */
        left: -10%;
        top: 0;
    }
    .blur{
        display: none;
    }
    .blueCircle{
        display: none;
    }
    .yellowCircle{
       display: none;
    }
}
