.services{
    padding: 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 8rem;
    margin-top: 9rem;
    margin-bottom: 13rem;
}
.s-title>a{
    width: fit-content;
}
.s-title{
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    top: 3rem;
}
.s-title>:nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.s-title>:nth-child(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}
.s-title>:nth-child(3){
    color: var(--gray);
    font-size: 14px;
    margin-top: 1rem;
}
.s-button{
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
}

.s-cards{
    flex: 1;
    position: relative;
}

.s-cards>*{
    position: absolute;
}

.s-blur2{
    top: 14rem;
    left: 18rem;
}
.s-blur1{
    top: 13rem;
    left: -18rem;
}
@media(max-width:400px){
    .services{
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }
    .s-title{
        /* display: flex;
        flex-direction: column; */
        /* height: 200px; */
        height: 20vh;
        /* top: 0; */
    }
    .s-cards{
        display: flex;
        flex-direction: column;
        transform: scale(0.5);
        top: -15%;
        left: -12%;
    }
    .service-card{
        position: relative;
       
    }
    .s-cards>*{
        position: relative;
    }
    .s-blur2{
       display: none;
    }
    .s-blur1{
        display: none;
    }
}