/* .contact-form{
    display: flex;
}

.c-right {
    border: 1px solid red;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-left{
    border: 1px solid blue;
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-left span{
    width: 100%;
    text-align: center;
} */
@media(max-width:400px){
    .contact-form{
        display: flex;
        flex-direction: column;
        /* background-color: blueviolet; */
        margin-top: 0 !important;
        padding-bottom: 3rem !important;
    }
    .blur{
        display: none;
    }
    .c-right .user{
        /* background-color: red; */
        width: 12rem !important;
    }
}

.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    /* flex-wrap: wrap; */
    /* height: 80vh; */
    margin-top: 6rem;
    padding-bottom: 3rem;

}
.c-left{
    flex: 1;
    text-align: center;
    padding-top: 5rem;
}
.c-left>:nth-child(1){
    color: var(--black);
    font-size: 2.4rem;
    font-weight: bold;

}
.c-left>:nth-child(2){
    color: var(--orange);
    font-size: 2.6rem;
    font-weight: bold;
}
.c-right{
    /* display: flex; */
    justify-content: center;
    top: 50%;
    position: relative;
    flex: 1;
    align-self: center;
    justify-self: center;
}
.c-right>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.c-right .user{
    border: 2px solid var(--orange);
    border-radius: 8px;
    width: 20rem;
    height: 2rem;
    padding: 0 0.5rem ;
    outline: none;
    align-self: center;
    /* padding: 0.5rem; */
    font-size: 16px;
    /* color: var(--black); */
}
textarea{
    height: 4rem !important;
    padding-top: 0.5rem !important;
}
.f-button{
    width: 40%;
    align-self: center;
}
 /* @media(max-width:400px){
    .contact-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .c-right{
        background-color: red;
    }
    .c-right .user{
        width: 3rem;
        align-items: center;
        justify-content: center;
        
    }
}  */