.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    padding: 3rem;
    height: 80vh;
    margin-top: 6rem;
}
.c-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}
.c-left>:nth-child(1){
    color: var(--black);
    font-size: 2.4rem;
    font-weight: bold;

}
.c-left>:nth-child(2){
    color: var(--orange);
    font-size: 2.6rem;
    font-weight: bold;
}
.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}
.c-right>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.c-right .user{
    border: 2px solid var(--orange);
    border-radius: 8px;
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    align-self: center;
    padding: 0.5rem;
    font-size: 16px;
    /* color: var(--black); */
}
textarea{
    height: 4rem !important;
}
.f-button{
    width: 40%;
    align-self: center;
}
/* .c-blur{
    top:1rem;
    left: 8rem;
} */
