.n-wrapper{
    height:10vh;
    display: flex;
    justify-content: space-between;
}

.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}
.n-img{
    height: 50px;
    margin: 3rem;
}

.n-right{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    z-index: 2;
}

.n-list{
    flex: 10;
}

.n-list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}

.n-list>ul>li>:nth-child(1):hover{
    cursor: pointer;
    color: var(--orange);
}

.n-button{
    flex: 2;
}
.links:hover{
    color: var(--orange);
}
@media(max-width:400px){
    .n-wrapper{
        width: 100%;
    }
}