.photography{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}
.style{
    width: fit-content;
}

.photography>span{
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
}
.ph-align>span:nth-of-type(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.ph-align>span:nth-of-type(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}
.photography .swiper{
    overflow: visible !important;
}

.photography-slider{
    margin-top: 3rem;
    width: 100%;
}

.photography-slider .swiper-slide{
    width: 20rem;
}
.photography img{
    width: 10rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0,0.25));
    border-radius: 19px;
}

.ph-button{
    /* z-index: 20; */
    margin-top: 1rem;
    width: 100%;
}
@media(max-width:400px){
    .photography{
        /* position: static; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem !important;
        /* height: fit-content; */
        /* background-color: aquamarine; */
    }
    .photography-slider .swiper-slide{
        width: 100%;
    }
    .photography img{
        width: 8rem;
        filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0,0.25));
        border-radius: 19px;
    }
    .ph-button{
        /* z-index: 20; */
        margin-top: 1rem;
        width: 100%;
    }
    .swiper-wrapper{
        display: none !important;
    }
}